<h1>Liste des pages</h1>
<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke ui-body-d table-stripe" data-column-btn-text="Afficher +">
  <thead>
    <tr class="ui-bar-d">
      <th data-priority="1">Elément du menu</th>
      <th data-priority="1" colspan="4">Titre de la page</th>
    </tr>
  </thead>
  <tbody>
		<% @pages.each do |page| %>
		<tr>
	    	<td><%= page.titre_menu %></td>
		    <td><%= page.titre %></td>
		    <td data-priority="2"><%= link_to "Modifier", edit_admin_page_path(page.id), "data-role"=>"button", "data-icon" => "edit", "data-iconpos" => "notext", :class => "ui-icon-alt" %></td>
	      <td data-priority="2"><%= link_to "Supprimer", admin_page_path(page.id), method: :delete, data: { confirm: 'Etes vous sur ?' }, "data-role"=>"button", "data-icon" => "delete" , "data-iconpos" => "notext", :class => "ui-icon-alt" %></td>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to 'Nouvelle Page', new_admin_page_path, "data-role"=>"button" %>
