<%= form_tag(admin_photos_path,:method => :post, "data-ajax" => false, :id => "add-photo-form", "enctype" => "multipart/form-data") do  %>
	<%= hidden_field_tag(:public_id,false) %>
	<ul data-role="listview" data-theme="c" data-inset="true">
        <li data-role="fieldcontain">
          <%= cl_image_upload_tag(:image, :crop => :limit, :width => 480, :height => 480, :quality => 75,
		                        :eager => [{ :crop => :fill, :width => 80, :height => 80 }],
		 						:html => {:class => "image_upload"}) 
		  %>
      </li>
   </ul>
   <!-- Dialog window upload !-->
	<div id="photo-uploading" data-role="popup" data-theme="e" data-overlay-theme="a" class="ui-content" data-transition="slidedown" data-position-to=".title" data-dismissible="false">
		<header>
			<h2>Traitement<span>&nbsp;&nbsp;<span><%= image_tag 'ajax-loader.gif', :id => "photo-ajax-loader"%></span>&nbsp;<small id="loaded-datas"></small></h2>
		</header>
		<%= submit_tag "Ajouter", "data-theme" => "a" %>
		<%= link_to "Supprimer", "#", :method => "post", "data-role" => "button", "data-theme" => "e", :id => "destroy_cloudinary", "data-ajax"=> false%>
	</div>
<% end %>


<!-- Javascript -->

<%= cloudinary_js_config %>
<script>
	//start
	$('.cloudinary-fileupload').bind('fileuploadsend', function(e, data) {
		 
		$("#photo-uploading").popup("open");
	});
	
   //progress
	$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
		$('#loaded-datas').html(Math.round((data.loaded * 100.0) / data.total) + "%");
	});
	
	// image treatment done
	$('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
		$('#destroy_cloudinary').attr("href","/admin/destroy_photo_on_cloudinary/"+data.result.public_id);   
		$('#photo-uploading header h2').fadeOut('slow');
		$('#photo-uploading').prepend($.cloudinary.image(data.result.public_id, { format: data.result.format,crop: 'fill', width: 250}));
	});
	
	// failure during upload 
	$('.cloudinary-fileupload').bind('fileuploadfail', function(e, data) { 
		$('#photo-uploading h2').html("Erreur lors du chargement <br><p>Merci de renouveler l'opération</p>");
	    $("#photo-uploading").popup("close");
	});
</script>