<%= form_tag(admin_photos_path,:method => :post, "data-ajax" => false, :id => "add-photo-form", "enctype" => "multipart/form-data") do  %>
        <li data-role="fieldcontain">
          <%= cl_image_upload_tag(:image, :html => {:class => "image_upload"}) %>
      </li>
	  <li>	
		  <%= submit_tag "Ajouter à l'album" %>
	  </li>	
<% end %>
</ul>
        <!-- Dialog window upload !-->
		<div id="photo-uploading" data-role="popup" data-theme="e" data-overlay-theme="a" class="ui-content" data-transition="slidedown">
			<h2>Traitement...</h2>
			<p id="loaded-datas"><strong></strong></p>
		</div>
		
		<div class="preview"></div>	  			


<ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b"  style="display:none;" id="delete-photo">
	<li><%= link_to "#{t('main.destroy')}".html_safe,  admin_destroy_photo_path(:image) , "data-ajax" => false, :id => "delete-photo" %></li>
</ul>
<!-- Javascript -->

<%= cloudinary_js_config %>
<script>
	//start
	$('.cloudinary-fileupload').bind('fileuploadsend', function(e, data) { 
		$("#photo-uploading").popup("open");
	});
	
   //progress
	$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
		$('#loaded-datas strong').html(Math.round((data.loaded * 100.0) / data.total) + "% effectué");
	});
	
	// image treatment done
	$('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) { 
		$('.preview').html($.cloudinary.image(data.result.public_id, { format: data.result.format }));
		$('.preview').addClass("img-view");
	    $("#photo-uploading").popup("close");
	});
	
	// failure during upload 
	$('.cloudinary-fileupload').bind('fileuploadfail', function(e, data) { 
		$('#photo-uploading h2').html("Erreur lors du chargement <br><p>Merci de renouveler l'opération</p>");
	    $("#photo-uploading").popup("close");
	});
</script>