<%= cloudinary_js_config %>
<%= form_tag(admin_photos_path,:method => :post, "data-ajax" => false, :id => "add-photo-form", "enctype" => "multipart/form-data") do  %>
        <li data-role="fieldcontain">
          <%= cl_image_upload_tag(:image, :html => {:class => "image_upload"}) %>
      </li>
	  <li data-role="fieldcontain">	
		  <%= submit_tag "Enregistrer dans l'album" %>
	  </li>	
<% end %>
</ul>

		<div class="preview"></div>	
	   	<div style="width:220px; height:19px;"><%= image_tag 'adw-loader2.gif', :style => "display:none;" , :class => "progress_bar" %></div>	  			


<ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b"  style="display:none;" id="delete-photo">
	<li><%= link_to "#{t('main.destroy')}".html_safe,  admin_destroy_photo_path(:image) , "data-ajax" => false, :id => "delete-photo" %></li>
</ul>

<!-- Progression -->
<script>
	//start
	$('.cloudinary-fileupload').bind('fileuploadsend', function(e, data) { 
		$(".progress_bar").show();
	});
	
   //progress
	$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
		$('.preview').text("Chargement... " + Math.round((data.loaded * 100.0) / data.total) + "%");
	});
	
	//progress
	$('.cloudinary-fileupload').bind('fileuploaddone', function(e, data) { 
		$('.preview').text("Chargement... " + Math.round((data.loaded * 100.0) / data.total) + "%"); 
	});
	
	// image treatment done
	$('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) { 
		$('.preview').html($.cloudinary.image(data.result.public_id, { format: data.result.format, version: data.result.version, crop: 'limit', width: 320, height: 320 }));
	    $('.progress_bar').hide();
	});

</script>