<script id="template-upload" type="text/x-tmpl">
	<p class="upload-message">Merci de patienter pendant le traitement de votre photo ...</p>
	<div class="upload">
		<div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>

<%= simple_form_for Photo.new, url: admin_photos_path, html: {:id => "new-photo"} do |f| %>
	<%= f.error_notification %>

	<ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b">
		<li data-role="list-divider" id="essai" >Gestion des images et des photos</li>
		<li class="fieldcontain">
			<%= f.input :image, input_html: {"name" => "photo[image]"} %>
		</li>	
	</ul> 
<% end %>


<!-- Gallery in list -->
<div id="gallery">
	<% if @photos %> 
		<% @photos.each do |photo| %>					
			<%= link_to(image_tag(photo.image_url(:thumb_list)),admin_photo_path(photo))  %>
		<% end %>
	<% end %>	
</div>
<ul data-role="listview" data-inset="true">
	<li data-theme="a"><%= link_to "<i class='icon-logout'></i>&nbsp;Se déconnecter".html_safe, destroy_admin_session_path, method: :delete, data: { confirm: t('main.sure') }, "data-ajax" => "false" %>
	</li>
</ul>	
