<form class="add-photo">
    <ul data-role="listview" data-divider-theme="e" data-inset="true">
        <li data-role="list-divider">
			Ajouter une photo à mon focus 
		</li>
		<li class="fieldcontain">
			<select name="flip-mini" id="add-photo-focus" data-role="slider" data-mini="true" data-focus="<%= @focus.id %>" >
				<option value=off <%= 'selected="true"' unless @focus.photo_active %> >Off</option>
				<option value=on <%= 'selected="true"' if @focus.photo_active %>  >On</option>
			</select>
        </li>
    </ul>
</form>

<ul data-role="listview" data-theme="c" data-divider-theme="c" data-inset="true" class="photo-actived <%='photo-desactived' unless @focus.photo_active %>">
	<li data-role="list-divider">
		&nbsp;
	</li>
	<li>
		<a href="#mypanel">Depuis l'album</a>
	</li>
	
	<!-- *********** Or upload a new photo ************* -->
	

	<!-- Progress bar -->

	<script id="template-upload" type="text/x-tmpl">
		<li class="upload">
			<div class="progress"><div class="bar" style="width: 0%"></div></div>
		</li>
	</script>

	<!-- Photo uploading  -->
	<%= simple_form_for Photo.new, url: admin_upload_to_link_path, html: {:id => "new-photo"} do |f| %>
		<li class="fieldcontain"><%= f.error_notification %></li>
		<li class="fieldcontain">
				<%= f.input :image, label: false, input_html: {"name" => "photo[image]"} %>
			</li>	
	<% end %>
	
		<!-- ********************************************** -->
		<li class="photo-actived <%= 'photo-desactived' unless @focus.photo_active %>"  id="thumb-selected">
			<% if !@focus.photos.empty?
				@focus.photos.each do |p| %>
					<%= link_to image_tag(p.image_url(:thumb_list), :alt => "", :class => "thumb-selected", :id => p.id), admin_photo_path(p.id) %>
				<% end %>
			<% end %>
		</li>
	</ul>
	
	<!-- **************  Update the promo  ************** -->
<%= simple_form_for(@focus, url: admin_focu_path(@focus), method: "put", html: {"data-ajax" => false}) do |f| %>
  <%= f.error_notification %>
  
  <ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b">
		
		<% unless @focus.photos.empty? %>
			<%= hidden_field_tag(:photo_attached, @focus.photos[0].id, :id => "photo-selected-to-register") %>			
		<% else %>
		<%= hidden_field_tag(:photo_attached, @photo.id, :id => "photo-selected-to-register") %>						
		<% end %>	
	
		<li data-role="fieldcontain">
			<label class="text optional control-label ui-input-text">Type de focus</label>
			<%= f.collection_radio_buttons :type_of_focus, [['Actualité', 'Actualité'],['Nouveauté', 'Nouveauté'] ,['Evènement', 'Evènement']], :first, :last, label: "Type de focus"  %>
  		</li>

  		<li data-role="fieldcontain">
			<%= f.input :title, label: "Titre du focus", required: true %>
  		</li>
		
  		<li data-role="fieldcontain">
			<%= f.input :description, :as => :text, input_html: {:cols => 50, :rows => 15}, required: true  %>
  		</li>
  		<li data-role="fieldcontain">
			<%= f.collection_radio_buttons :active, [[true, 'Focus activé'] ,[false, 'Focus désactivée']], :first, :last %>
  		</li>
		<li data-role="fieldcontain"> 
		   <%= f.button :submit, 'Enregistrer' %>
		</li>
  </ul>
<% end %>
<ul data-role="listview" data-inset="true">
	<li data-theme="e"><%= link_to "<i class='icon-th-large'></i>&nbsp;Aller sur le site".html_safe, focus_path %></li>	
</ul>
<%= javascript_include_tag('admin/focus') %>