<form>
    <ul data-role="listview">
        <li data-role="fieldcontain">
			<label for="add-photo">Ajouter une photo</label>
			<br>
			<select name="flip-mini" id="add-photo" data-role="slider" data-mini="true" data-focus="<%= @focus.id %>" >
				<option value="off" <%= 'selected="true"' unless @focus.photo_active %> >Off</option>
				<option value="on" <%= 'selected="true"' if @focus.photo_active %>  >On</option>
			</select>
        </li>
    </ul>
</form>
<br>
<br>		

<div class="ui-grid-a <%= 'photo-actived' unless @focus.photo_active %>">
	<div class="ui-block-a">
		<a href="#mypanel" data-role="button" data-mini="true" data-theme="b">Choisir photo</a>
	</div>
	<div class="ui-block-b" id="thumb-selected">
		<% if !@focus.photos.empty?
			@focus.photos.each do |p| %>
				<%= image_tag(p.image_url(:thumb_list), :alt => "", :class => ["center-thumb", "thumb-selected"], :id => p.id) %>
			<% end %>
		<% end %>
	</div>
</div>		
<!-- Or upload a new photo -->

<!-- Progress bar -->

<script id="template-upload" type="text/x-tmpl">
	<div class="upload photo-actived">
		<div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>

<!-- /Progress bar -->

<%= simple_form_for Photo.new, url: admin_upload_to_link_path, html: {:id => "new-photo", :class => "photo-actived"} do |f| %>
	<%= f.error_notification %>

	<ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b">
		<li class="fieldcontain">
			<%= f.input :image, label: false, input_html: {"name" => "photo[image]"} %>
		</li>	
	</ul> 
<% end %>

<!--   Update the focus      -->

<%= simple_form_for(@focus, url: admin_focu_path(@focus), method: "put", html: {"data-ajax" => false}) do |f| %>
  <%= f.error_notification %>
  
  <ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b">
		
		<% unless @focus.photos.empty? %>
			<%= hidden_field_tag(:photo_attached, @focus.photos[0].id, :id => "photo-selected-to-register") %>			
		<% else %>
		<%= hidden_field_tag(:photo_attached, @photo.id, :id => "photo-selected-to-register") %>						
		<% end %>	
		
  		<li data-role="fieldcontain">
			<%= f.input :description, :as => :text, input_html: {:cols => 50, :rows => 15}  %>
  		</li>
  		<li data-role="fieldcontain">
			<%= f.collection_radio_buttons :active, [[true, 'Active'] ,[false, 'Non active']], :first, :last %>
  		</li>
		<li data-role="fieldcontain"> 
		   <%= f.button :submit %>
		</li>
  </ul>
<% end %>
<%= javascript_include_tag('admin/focus') %>