<form class="add-photo">
    <ul data-role="listview" data-divider-theme="c">
        <li data-role="list-divider">
			Ajouter une photo à ma promo 
		</li>	
		<li class="fieldcontain">	
			<select name="flip-mini" id="add-photo-promo" data-role="slider" data-mini="true" data-promo="<%= @promo.id %>" >
				<option value=off <%= 'selected="true"' unless @promo.photo_active %> >Off</option>
				<option value=on <%= 'selected="true"' if @promo.photo_active %>  >On</option>
			</select>
        </li>
    </ul>
</form>
	
<ul data-role="listview" data-theme="c" data-divider-theme="c"  class="photo-actived <%='photo-desactived' unless @promo.photo_active %>">
	<li data-role="list-divider">
		&nbsp;
	</li>
	<li>
		<a href="#mypanel">Depuis l'album</a>
	</li>	
	<li class="photo-actived <%= 'photo-desactived' unless @promo.photo_active %>"  id="thumb-selected">
		<% if !@promo.photos.empty?
			@promo.photos.each do |p| %>
				<%= link_to image_tag(p.image_url, :width => '80', :height => '80', :alt => "", :class => "thumb-selected", :id => p.id), "" %>
			<% end %>
		<% end %>
	</li>
</ul>		

	<!-- **************  Update the promo  ************** -->

<%= simple_form_for(@promo, url: admin_promo_path(@promo), method: "put", html: {"data-ajax" => false}) do |f| %>
  <%= f.error_notification %>
  
  <ul data-role="listview" data-theme="c"  data-divider-theme ="b">
		<% unless @promo.photos.empty? %>
			<%= hidden_field_tag(:photo_attached, @promo.photos[0].id, :id => "photo-selected-to-register") %>			
		<% else %>
			<%= hidden_field_tag(:photo_attached, @photo.id, :id => "photo-selected-to-register") %>							
		<% end %>
		<li data-role="fieldcontain">
			<%= f.input :title, label: "Titre de la promo", required: true  %>
  		</li>	
  		<li data-role="fieldcontain">
			<%= f.input :description, :as => :text, input_html: {:cols => 50, :rows => 15}, required: true  %>
  		</li>
  		<li data-role="fieldcontain">
			<%= f.collection_radio_buttons :active, [[true, 'Promo activée'] ,[false, 'Promo désactivée']], :first, :last %>
  		</li>
		<li data-role="fieldcontain"> 
		   <%= f.button :submit, 'Enregistrer' %>
		</li>
  </ul>
<% end %>
<%= javascript_include_tag('admin/promos') %>