
<div class="ui-grid-a">
	<div class="ui-block-a">
		<a href="#mypanel" data-role="button">Choisir photo</a>
	</div>
	<div class="ui-block-b" id="thumb-selected">
		
	</div>
</div>		
<!-- Or upload a new photo -->

<!-- Progress bar -->

<script id="template-upload" type="text/x-tmpl">
	<div class="upload">
		<div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>

<!-- /Progress bar -->

<%= simple_form_for Photo.new, url: admin_upload_to_link_path, html: {:id => "new-photo"} do |f| %>
	<%= f.error_notification %>

	<ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b">
		<li class="fieldcontain">
			<%= f.input :image, label: false, input_html: {"name" => "photo[image]"} %>
		</li>	
	</ul> 
<% end %>

<!--   Update the promo      -->

<%= simple_form_for(@promo) do |f| %>
  <%= f.error_notification %>
  
  <ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b">

		<%= hidden_field_tag(:photo_attached, "") %>			

  		<li data-role="fieldcontain">
			<%= f.input :description, :as => :text, input_html: {:cols => 50, :rows => 5}  %>
  		</li>
		<li data-role="fieldcontain"> 
		   <%= f.button :submit %>
		</li>
  </ul>
<% end %>
<%= javascript_include_tag('admin/promos') %>