<h2 class="title-featured">Modifier un produit ou un service</h2>
<form class="add-photo">
    <ul data-role="listview" data-divider-theme="e" data-inset="true">
        <li data-role="list-divider">
			Ajouter une photo à mon produit 
		</li>	
		<li class="fieldcontain">	
			<select name="flip-mini" id="add-photo-produit" data-role="slider" data-mini="true" data-produit="" >
				<option value=off <%= 'selected="true"' unless @produit.photo_active %> >Off</option>
				<option value=on <%= 'selected="true"' if @produit.photo_active %>  >On</option>
			</select>
        </li>
    </ul>
</form>
	
<ul data-role="listview" data-theme="c" data-divider-theme="c" data-inset="true" class="photo-actived <%='photo-desactived' unless @produit.photo_active %>">
	<li data-role="list-divider">
		&nbsp;
	</li>
	<li>
		<a href="#mypanel">Depuis l'album</a>
	</li>	
	<li class="photo-actived <%= 'photo-desactived' unless @produit.photo_active %>"  id="thumb-selected">
		<% if !@produit.photos.empty?
			@produit.photos.each do |p| %>
				<%= link_to image_tag(p.image_url, :width => '80', :height => '80', :alt => "", :class => "thumb-selected", :id => p.id), "" %>
			<% end %>
		<% end %>
	</li>
</ul>		

	<!-- **************  Modification du produit ou du service  ************** -->
<%= render 'form_edit' %>
<br>
<br>
<ul data-role="listview" data-inset="true">	
	<li data-theme="e"><%= link_to "<i class='icon-th-large'></i>&nbsp;Supprimer".html_safe, admin_photo_path, method: :delete, data: { confirm: t('main.sure') }, "data-ajax" => "false" %>
	</li>	
</ul>
<%= javascript_include_tag('admin/produits') %>