<ul data-role="listview" data-theme="c" data-inset="true">
	<% if promo_actived? @promo %>
		<li><%= link_to "<i class='icon-tag'></i>&nbsp;Promo".html_safe,promo_path %></li>
	<% end %>	
	<% if focus_actived? @focus %>
		<li><%= link_to "<i class='icon-tag'></i>&nbsp;Focus".html_safe,focus_path %></li>
	<% end %>
	<li><%= link_to "<i class='icon-signal'></i>&nbsp;Activité".html_safe,activity_path %></li>
	<li><%= link_to "<i class='icon-location'></i>&nbsp;Plan & Horaires".html_safe,map_path %></li>
	<li><%= link_to "<i class='icon-phone'></i>&nbsp;Contact".html_safe,contact_path %></li>
</ul>
<br>
<br>
<br>
<ul data-role="listview" data-inset="true">
	<li data-theme="e"><a href="/login"><i class="icon-th-large"></i>&nbsp;Login</a> </li>	
</ul>