<ul data-role="listview" data-theme="c" data-inset="true">
	<% if @promo.active %>
		<li><%= link_to "<i class='icon-tag'></i>&nbsp;&nbsp;Promo".html_safe,promo_path,  "data-transition" => "flip" %></li>
	<% end %>	
	<% if @focus.active %>
		<li><%= link_to "<i class='icon-star'></i>&nbsp;&nbsp;#{@focus.type_of_focus}".html_safe,focus_path, "data-transition" => "flip" %></li>
	<% end %>
	<% unless @produits.empty? %>
		<li><%= link_to "<i class='icon-th-list'></i>&nbsp;&nbsp;Produits".html_safe,produit_path, "data-transition" => "flip" %>
		</li>
	<% end %>
	<% unless @services.empty? %>	
		<li><%= link_to "<i class='icon-th-list'></i>&nbsp;&nbsp;Services".html_safe,service_path, "data-transition" => "flip" %>
		</li>
	<% end %>	
	<li><%= link_to "<i class='icon-user'></i>&nbsp;&nbsp;Mieux nous connaître".html_safe,activity_path, "data-transition" => "flip" %></li>
	<li><%= link_to "<i class='icon-location'></i>&nbsp;&nbsp;Plan & Horaires".html_safe,map_path, "data-transition" => "flip" %></li>
	<li><%= link_to "<i class='icon-mail'></i>&nbsp;&nbsp;Contact".html_safe,contact_path, "data-transition" => "flip" %></li>
</ul>
<br>
<br>
<br>
<% if admin_signed_in? %>
	<ul data-role="listview" data-inset="true">
		<li data-theme="e"><%= link_to "<i class='icon-th-large'></i>&nbsp;&nbsp;Admin".html_safe, admin_index_path %></li>
		<li data-theme="a"><%= link_to "<i class='icon-logout'></i>&nbsp;Se déconnecter".html_safe, destroy_admin_session_path, method: :delete, data: { confirm: t('main.sure') }, "data-ajax" => "false" %>
		</li>
	</ul>
<% else %>
	<ul data-role="listview" data-inset="true">
		<li data-theme="e"><%= link_to "<i class='icon-lock-open'></i>&nbsp;&nbsp;Se connecter".html_safe, new_admin_session_path %></li>
	</ul>
<% end %>
