<h2 class="title-featured"><%= @promo.title.html_safe.upcase %></h2>
<% if @promo.photo_active %>
	<%= image_tag @promo.photos[0].image_url, :alt => "promotion", :class => "photo-featured"  %>
<% else %>
	<%= image_tag 'promo.jpg', :width => "480px", :height => "320px"%>
<% end %>
<br>
<br>
<%= @promo.description.capitalize.gsub(/\n/, '<br/>').html_safe %> %>
	<% if admin_signed_in? %>
		<ul data-role="listview" data-inset="true">
			<li data-theme="e"><%= link_to "<i class='icon-th-large'></i>&nbsp;Aller dans l'admin".html_safe, edit_admin_promo_path(@promo) %>
			</li>
			<li data-theme="a"><%= link_to "<i class='icon-th-large'></i>&nbsp;Se déconnecter".html_safe, destroy_admin_session_path, method: :delete, data: { confirm: t('main.sure') }, "data-ajax" => "false" %>
			</li>	
		</ul>
<% end %>		