<div data-role="panel" data-display="overlay" id="mypanel_admin_nav" style="background:#333;">
	<ul data-role="listview" data-theme="c" class="ui-icon-alt">
		<li data-role="divider">Menu</li>
		<li><%= link_to "Promo&nbsp;#{promo_actived?(@promo)}".html_safe, edit_admin_promo_path(@promo), "data-ajax" => false %></li>
		<li><%= link_to "Focus&nbsp;#{focus_actived?(@focus)}".html_safe, edit_admin_focu_path(@focus), "data-ajax" => false %></li>
		<li><%= link_to "Photos".html_safe, admin_photos_path, "data-ajax" => "false"  %></li>
		<li><%= link_to "Produits & Services".html_safe, admin_produits_path %></li>
		<li><%= link_to "Pages", admin_pages_path %></li>
	</ul>
</div><!-- /panel -->