<!DOCTYPE html>
<html>
<head>
  <title>Artisans du web | Mobile</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag  "admin/application", :media => "all" %>

  <%= javascript_include_tag "application" %>	

  <%= csrf_meta_tags %>
</head>
	<body>
	
	<div data-role="page" class="mypage">
		
		<!-- Menu in Panel -->
		<%= render "/layouts/panel_admin_nav" %>
		
		<!-- header -->
		<div data-role="header" class="page-header" data-theme="c">
	    	<a href="index.html" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse" data-rel="back" data-role="button" class="ui-btn-left">Back</a>    			
	    	<h1><%= @title %></h1>
			<a href="#mypanel_admin_nav" data-role="button"  class="ui-btn-right"> Menu</a>	
					<!--<a href="/" data-icon="home" data-iconpos="notext" rel="external" class="ui-btn-right">Home</a>-->
		</div>
	    <!--/header -->

		<!-- main content -->
	    <div data-role="content">
			<div data-role="content-padd">
				<%= render "layouts/messages" %>
				<%= yield %>
				<%= debug(params) if Rails.env.development? %>
			</div><!-- end content-padd -->
		</div><!-- end content -->
	</div><!-- end page -->	
</body>
</html>

