<!DOCTYPE html>
<html>
<head>
  <title>Artisans du web | Mobile</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag  "application", :media => "all" %>

  <%= javascript_include_tag "application" %>	

  <%= csrf_meta_tags %>
</head>
	<body class="home">
	<!-- Home -->
	<div data-role="page" class="page" <% unless request.fullpath != "/"%> id="home" <%end%>>
	
			<div data-role="header">
				<a href="/admin" data-icon="home" class="ui-btn-left" data-iconpos="notext" data-transition="flip">Accueil- Administration</a>
		    	<h1><%= @title %></h1>
		   </div>

		<!-- Panel for media library -->
		<%= render('/layouts/panel_admin') %>
		
		<div data-role="content">
			<%= render 'layouts/messages' %>
			<%= yield %>
		</div>
		<!-- end content --> 
	</div>
	<!-- end page -->	
</body>
</html>

