<!DOCTYPE html>
<html>
<head>
  <title>Artisans du web | Mobile</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- For iphone -->	
   <link rel="apple-touch-icon" href="/adw-icone.png">
  
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>	

  <%= csrf_meta_tags %>
</head>
	<body>
		<div data-role="page" data-theme="c">
			
			<!-- Menu in Panel -->
			<%= render "/layouts/panel_nav" %>	
			
		<!-- header -->
		<div data-role="header" class="page-header" data-theme="c">
	    	<a href="index.html" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse" data-rel="back" data-role="button" class="ui-btn-left">Back</a>    			
	    	<h1><%= @title %></h1>
			<a href="#mypanel_nav" data-role="button"  class="ui-btn-right"> Menu</a>	
					<!--<a href="/" data-icon="home" data-iconpos="notext" rel="external" class="ui-btn-right">Home</a>-->
		</div>
	    <!--/header -->
	
		<!-- main content -->
	    <div data-role="content" id="bck-content">
			<div data-role="content-padd" class="main-content">
				<%= render 'layouts/messages' %>
				 <% unless request.fullpath == "/"%>
					<!-- banner & title -->
					<div class="bannerContainer">
						<%= image_tag "2.jpg", :class => "banner" %>	
					</div>
					<h2 class="pageTitle"><span><%= @title %></span></h2>
					<!-- /banner & title -->
				<% end %>
				<%= yield %>
			</div><!-- end content-padd -->
		</div><!-- end content -->	 
		
		<!-- footer -->
		<div data-role="footer" data-theme="c" data-position="fixed">
			<div data-role="navbar" class="custom-icons">
				<ul>
					<li><a href="http://bit.ly/yx2mXZ" id="run" data-icon="arrow-u">Nous trouver</a></li>
					<li><a href="tel:18005551234" id="phone2" data-icon="arrow-u">Contact</a></li>
					<li><a href="twitter.html" id="twitter" data-icon="arrow-u" data-ajax="false">Tweets</a></li>
					<li>
						<%= link_to "Admin".html_safe, admin_index_path, "data-ajax" => false, "data-icon" => "arrow-u"%>
					</li>
				</ul>
			</div>
		</div>
		<!-- /footer -->
	</div><!-- end page -->	
</body>
</html>

