<!DOCTYPE html>
<html>
<head>
  <title>Artisans du web | Mobile</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- For iphone -->	
   <link rel="apple-touch-icon" href="/adw-icone.png">
  
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>	

  <%= csrf_meta_tags %>
</head>
	<body>
		<div data-role="page">
			
			<!-- Menu in Panel -->
			<%= render "/layouts/panel_nav" %>	
			
		<!-- header -->
		<div data-role="header" class="page-header" data-theme="f">
	    	<a href="index.html" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse" data-rel="back">Back</a>
	    		<div class="logo"></div>
	    	<a href="/" data-icon="home" data-iconpos="notext" rel="external" class="ui-btn-right">Home</a>
		</div>
	    <!--/header -->
	
		<!-- main content -->
	    <div data-role="content" 	<% unless request.fullpath != "/"%>id="bck-content" <% end %>>
			<div data-role="content-padd" class="main-content">
				<a href="#mypanel_nav" data-role="button" data-mini="true" data-inline="true" data-icon="plus"> Menu</a>
				<%= render 'layouts/messages' %>
				<%= yield %>
			</div><!-- end content-padd -->
		</div><!-- end content -->	 
		
		<!-- footer -->
		<div data-role="footer" data-theme="c">
			<div data-role="navbar" class="custom-icons">
				<ul>
					<li><a href="http://bit.ly/yx2mXZ" id="run" data-icon="custom">Nous trouver</a></li>
					<li><a href="tel:18005551234" id="phone2" data-icon="custom">Contact</a></li>
					<li><a href="twitter.html" id="twitter" data-icon="custom" data-ajax="false">Tweets</a></li>
					<li>
						<%= link_to "Admin".html_safe, admin_index_path, "data-ajax" => false, "data-icon" => "custom"%>
					</li>
				</ul>
			</div>
		</div>
		<!-- /footer -->
	</div><!-- end page -->	
</body>
</html>

